.pytest_cache
data_vr/
data_vr2/
models/
models2/
models3/
models4/
configs/_sweeps/
configs/old/
mlruns/
scripts/__pycache__/
scripts2/__pycache__/
scripts3/__pycache__/
scripts4/__pycache__/
**/__pycache__/*
__pycache__/
*.pyc
app/obj/
app/bin/
app/.vs/
app2/DeepFunGen.Wpf/obj/
app2/DeepFunGen.Wpf/bin/
app2/DeepFunGen.Wpf/.vs/
app.py/dist/
.vscode/
*.pyc
rnd/